# Ignore specific files
.DS_Store
.settings.xml
.monitor
.DS_Store
*.orig
npm-debug.log
npm-debug.log.*
*.dat
.vscode

# Ignore various Node.js related directories and files
src/
test/
coverage/
node_modules/

eslint.config.js
.eslintignore
.eslintrc.js
.gitignore
.codeclimate.yml
.coveralls.yml
tsconfig.json
tsconfig.lint.json
.prettierignore
.prettierrc.json
CHANGELOG.md
.github
.husky
vitest.*.ts
